<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Add Points</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Style for the loading screen */
        #loading-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
      </style>
    </head>
   <body>
      <div id="loading-screen">
          <h1>Loading...</h1>
      </div>
      <script>
        window.addEventListener('load', function() {
            // When the page is fully loaded, hide the loading screen
            document.getElementById('loading-screen').style.display = 'none';
        });
      </script>
    <header>
        <img src="static\img\rogo_font.png">
    </header>
    <div class="container">
        {% if not points_earned %}
            <p>味方キャラの<b>とり</b>だ！</p>
            <img class="char" src="../../static/img/char/tori.webp">
            <form method="POST" action="{{ url_for('add_points', site=site_number, user=username) }}">
                <input type="hidden" name="points" value="1">
                <input type="submit" name="earn_points" value="ポイントゲット！">
            </form>
        {% else %}
            {% if error %}
                <p class="error">{{ error }}</p>
            {% else %}    
                <p><b>{{ points_earned }}</b> ポイントゲット！</p>
                <img class="char" src="../../static/img/char/tori.webp">
            {% endif %}
            <button id="return-to-game">ゲームを続ける</button>
        {% endif %}
        <button id="back-button" class="back">戻る</button>
    </div>

    <script>   
        // Redirect the user back to the game page when the "Return to Game" button is clicked
        document.getElementById("return-to-game").addEventListener("click", function() {
            window.location.href = "/game?user={{ username }}";
        });
    </script>
    <script>   
        // Redirect the user back to the game page when the "Return to Game" button is clicked
        document.getElementById("back-button").addEventListener("click", function() {
            window.location.href = "/game?user={{ username }}";
        });
    </script>
</body>
</html>
