<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>QR Code Poonts</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      /* Style for the loading screen */
      #loading-screen {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #f0f0f0;
          display: flex;
          justify-content: center;
          align-items: center;
      }
    </style>
  </head>
 <body>
    <div id="loading-screen">
        <h1>Loading...</h1>
    </div>
    <script>
      window.addEventListener('load', function() {
          // When the page is fully loaded, hide the loading screen
          document.getElementById('loading-screen').style.display = 'none';
      });
    </script>
    <header>
      <h1>Welcome to Development Site {{ username }}!</h1>
    </header>
    <div id="table">
        <table>
            <tbody>
                <caption style="margin:10px">USERDATA</caption><br>
            <tr>
                <th>Username</th>
                <th>NickName</th>
                <th>Points</th>
                <th>Game Played</th>
                <th>Game Time</th>
            </tr>
            <tr>
                <td>{{ userdata.username }}</td>
                <td>{{ userdata.nickname }}</td>
                <td>{{ userdata.points }}</td>
                <td>{{ userdata.game_played }}</td>
                <td>{{ userdata.game_time }}</td>
            </tr>
            </tbody>
        </table>
        <p>{{ entered_user }}</p>
    </div>
    <form name="form1" method="POST" action="/data_modify">
      <label for="columns" class="columns">Choose a column:</label>
      <select id="columns" name="column" class="column">
          <option value="nickname">Nickname</option>
          <option value="points">Points</option>
          <option value="game_played">Game Played</option>
          <option value="game_time">Game Time</option>
      </select>
      <br><br>
      <input type="text" name="new_data" required>
      <input type="hidden" name="change_user" value="{{ username }}">
      <input type="submit" value="Submit">
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('develop') }}"><button class="back">Back</button></a>
  </body>
</html>