<!DOCTYPE html>
<html lang="ja" style="padding:0;">
  <head>
    <meta charset="utf-8">
    <title>QR Code Poonts</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Style for the loading screen */
        #loading-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
      </style>
    </head>
   <body>
      <div id="loading-screen">
          <h1>Loading...</h1>
      </div>
      <script>
        window.addEventListener('load', function() {
            // When the page is fully loaded, hide the loading screen
            document.getElementById('loading-screen').style.display = 'none';
        });
      </script>
    <header>
      <p id="ranking">RANKING</p>
    </header>

    <script>
        window.addEventListener('DOMContentLoaded', function() {
          var div1 = document.getElementById("div1");
          var div2 = document.getElementById("div2");
    
          div1.style.display = "block";
          div2.style.display = "none";
        });
    
        function showDiv1() {
          var div1 = document.getElementById("div1");
          var div2 = document.getElementById("div2");
    
          div1.style.display = "block";
          div2.style.display = "none";
    
          document.getElementById("button1").classList.add("active");
          document.getElementById("button2").classList.remove("active");
        }
    
        function showDiv2() {
          var div1 = document.getElementById("div1");
          var div2 = document.getElementById("div2");
    
          div1.style.display = "none";
          div2.style.display = "block";
    
          document.getElementById("button1").classList.remove("active");
          document.getElementById("button2").classList.add("active");
        }
    </script>

    <p style="font-family: showcard; text-align: center; font-size: 1.5rem;">MAX POINTS : 100 pt</p>

    <div class="centered-content">
        <div class="button-container">
            <button id="button1" onclick="showDiv1()" class="active">土曜日</button>
            <button id="button2" onclick="showDiv2()">日曜日</button>
        </div>
        <hr size="2" width="318px" color="gray" style="margin:0">
        <div id="div1" class="hidden">
            <table>
                <tbody>
                    <tr>
                        <th>順位</th>
                        <th>プレイヤー</th>
                        <th>ポイント</th>
                    </tr>
                    {% for user in data_17 %}
                        <tr>
                            <td>{{ user.rank }}</td>
                            <td>{{ user.nickname }}</td>
                            <td>{{ user.points }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
  
        <div id="div2" class="hidden">
            <table>
                <tbody>
                    <tr>
                        <th>順位</th>
                        <th>プレイヤー</th>
                        <th>ポイント</th>
                    </tr>
                    {% for user in data_18 %}
                        <tr>
                            <td>{{ user.rank }}</td>
                            <td>{{ user.nickname }}</td>
                            <td>{{ user.points }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </body>
</html>